<!DOCTYPE html>
<html>
<head>
    <title>用户注册</title>
    <link href="/css/login-regist.css" rel="stylesheet" />
    <script src="/lib/jquery//jquery-1.7.2.min.js"></script>
    <script src="/js/system/regist.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
<div id="maincontext">
    <div id="regist-main">
        <span class="formtitle">用户注册</span>
        <form id="registForm" action="/security/user_login" method="post">
            <ol>
                <li>
                    <label><span class="notespan">*</span>用户名：</label>
                    <input id="username_id" name="username" type="text">
                </li>
                <li>
                    <label><span class="notespan">*</span>邮箱：</label>
                    <input id="useremail_id" name="useremail" type="text">
                </li>
                <li>
                    <label><span class="notespan">*</span>密码：</label>
                    <input id="password_id" name="password" type="password"  value="">
                </li>
                <li>
                    <label><span class="notespan">*</span>重复密码：</label>
                    <input id="repassword_id" name="repassword" type="password"  value="">
                </li>
                <li>
                    <label class="verifycode_lab"><span class="notespan">*</span>验证码：</label>
                    <input id="verifycode_id" class="verifycode" name="verifycode" type="text" value="">
                    <img id="verifycode_img_id" class="vcimg" src="/images/verifycode_loading.gif" title="点击，换一张">
                </li>
            </ol>
            <input id="registbut" type="button" value="注  册" class="btn-submit"><a href="/security/user_login">登录</a>
        </form>
        <span id="errortip_id" class="errortip"></span>
    </div>
</div>
<span></span>
</body>
</html>