
<div>
    <ul>
        <li><img src='<%= user.profile_image_url %>'/></li>
        <li><%= user.userid %></li>
        <li><%= user.loginname %></li>
        <li><%= user.email %></li>
    </ul>
</div>