<!DOCTYPE html>
<html>
<head>
    <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to Birdway!</title>
    <link href="/css/index.css" rel="stylesheet" />
    <link href="/plugs/artDialog/skins/default.css" rel="stylesheet" />
    <!-- 请注意JS加载顺序 -->
    <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <!--
        <script src="http://api.ditu.aliyun.com/map.js" type="text/javascript"></script>
        <script src="/js/system/aliyunmap.js" type="text/javascript"></script>
    -->
    <script src="/js/system/baidumap.js" type="text/javascript"></script>

    <script src="/plugs/artDialog/artDialog.min.js" type="text/javascript"></script>
    <script src="/plugs/artDialog/artDialog.plugins.min.js" type="text/javascript"></script>

    <script src="/js/system/index.js" type="text/javascript"></script>

    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script type="text/javascript">


    </script>

    <script type="text/javascript">
        var socket = io.connect('http://127.0.0.1:8088');
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
        });
    </script>

</head>
    <body>
    <div id="mapdiv" ></div>

    <div id="console">
        <div id="buttons">
        <div id="myself" class="ctrlbut"></div>
        <div id="partner" class="ctrlbut"></div>
        </div>
    </div>

    </body>
    </html>