@charset "utf-8";

/**
 * Author: DolphinBoy
 * Email: longxinanlan@msn.cn
 * Date: 12-7-23 下午12:41
 * 首页样式定义
 * 需要引入style.css全局样式文件，暂未引入
 */
@import "./style.css";

body{
    background: url('/images/map_loading.gif') no-repeat center;
    text-align: center;
    overflow: hidden;
}
#mapdiv_id{height:100%;width:100%;}

#map_search_id{
    position: absolute;
    float: left;
    left: 30px;
    top: 20px;
    z-index: 100;
}

#rightpanel_id{ /**不行啊，咋能固定漂浮在右下角？*/
    position: absolute;
    top: 200px;
    right: 0px;
    width: 200px;
    height: 400px;
    border-left: solid 4px #363232;
    background-color: rgba(72, 93, 96, 0.16);
}
#rightpanel_id a{/**这个权重比.but-br要高*/
    margin-bottom: 10px;
}
.btn{
    margin-bottom: 15px;
}
#avatar_id{
    margin-top: 20px;
    width: 128px;
    height: 128px;
    margin-bottom: 20px;
}

#console_id{
    position: relative;
    bottom: 194px;
    left: 5px;
    height: 190px;
    width: 45px;
    border: solid 4px #363232;
    /**border-bottom: none;*/
}
.ctrlbut{cursor:pointer;}

#myself_id{
    height: 41px;
    width: 41px;
    background: url('/images/myself.png') no-repeat center;
}
#partner_id{
    height: 41px;
    width: 41px;
    background: url('/images/partner.png') no-repeat center;
}

