
html{height:100%}

body {
    height:100%;
    margin: 0px;
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
    color: #00B7FF;
    text-decoration: none;
}

ul{
    list-style-type: none;
}
li{
    list-style-type: none;
}

