<!DOCTYPE html>
<html>
<head>
    <title>账户资料</title>
</head>
<body>
    <span id="personal_info">个人资料</span>
    <div id="showme">
        <div id="my_avatar">
            <img src="/images/user_icon_60x66.png" title="帅不？">
        </div>
        <span class="show_nikename">用户昵称</span>
        <a class="show_level" href=""><img class="level" src="" alt=""></a>
        <div class="user_icon">
            <a class="show_txweibo" href=""><img class="tx_weibo" src="" alt=""></a>
            <span class="vline">|</span>
            <a class="show_xlweibo" href=""><img class="xl_weibo" src="" alt=""></a>
        </div>
        <a class="show_sex" href="" title=""><img class="sex" src="" alt=""></a><!--用图片或者生物性别表示-->
        <a class="show_sign" href=""></a>
        <a class="show_liveaddr" href="" title="">居住地</a>
        <a class="show_edu" href="" title="">教育信息</a>
        <a class="show_userhome" href="">用户主页</a>
        <span class="shwo_introduce" title="">个人介绍</span>

    </div>

    <div id="base">

    </div>
    <div id="hobbies">

    </div>
    <div id="contact">
    </div>

    <span id="alter_avatar">修改头像</span>
    <span id="bound_mobile">绑定手机</span>
    <span id="privacy_settings">隐私设置</span>
    <span id="my_setting">个性设置</span>
    <span id="account_security">帐号安全</span>

</body>
</html>