<!DOCTYPE html>
<html>
<head>
    <title>账户资料</title>
</head>
<body>
		<span id="personal_info">个人资料</span>
		<div id="showme">
			<div id="my_avatar">
				<img src="" alt="帅不？">
			</div>
		</div>
		<div id="base">
			
		</div>
		<div id="hobbies">
			
		</div>
		<div id="contact">
		</div>

		<span id="alter_avatar">修改头像</span>
		<span id="bound_mobile">绑定手机</span>
		<span id="privacy_settings">隐私设置</span>
		<span id="my_setting">个性设置</span>
		<span id="account_security">帐号安全</span>

</body>
</html>