@charset "utf-8";
/**
 * Author: DolphinBoy
 * Email: longxinanlan@msn.cn
 * Date: 12-7-23 下午12:41
 * 首页样式定义
 */
html{height:100%}
body{height:100%;
    margin: 0px;
    padding: 0px;
    /**background:url('/images/map_loading.gif') no-repeat center;*/
    text-align:center;
    overflow:hidden;}
#mapdiv{z-index:-1;height:100%;width:100%;}

#map_search{
    position:absolute;
    left:30px;
    top:20px;
    z-index:100;
}

#console{position:relative;bottom:104px;z-index:1;
    height:100px;
    width:100%;
    border:solid 4px #363232;border-bottom:none;}
#buttons{width:300px;margin:0 auto;}
.ctrlbut{cursor:pointer;}
#myself{float:left;height:32px;width:32px;background:url('/images/myself.png') no-repeat center;}
#partner{float:left;height:32px;width:32px;background:url('/images/partner.png') no-repeat center;}


#myselfinfo{visibility:hidden;}